#map {
    flex: 1;
    margin: 0 auto;
    display: block;
    padding: 0.5rem 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    padding: 0.4rem;
    font: 12px sans-serif;
    background: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

/* Estilos para el header */
.navbar-brand svg {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 30px;
}
#contenedor_Mapa{
    display: flex;
    flex-direction: row;
}
/* Estilos para la leyenda */
#leyenda {
    flex: 1;
    background-color: white; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#leyenda svg {
    color: black;
    /* Estilos adicionales para el contenido de la leyenda */
    /* Puedes ajustar estos estilos según tus preferencias */
}

#logoHeader {
    max-width: 85px;
    /* margin-left: 1497px; */
    /* padding-top: 15px; */
    /*
    margin-left: 80px; 
    position: relative;
    width: 100%;
    margin-left: auto;*/
}
#encabezado {
    /* display: flex; */
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    /*align-items: center;
    /* margin-left: 12px;
    padding-left: 15px; */
} 
/* .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
} */
/* Estilo del Header */
.navbar {
    background: linear-gradient(to right, #3498db, #9b59b6); /* Cambia los colores según tus preferencias */
}

/* Estilo del Footer */
.footer {
    background: linear-gradient(to right, #3498db, #9b59b6); /* Mismos colores que el header */
}

/* Otros estilos del Footer (puedes ajustarlos según tus necesidades) */
.footer {
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto en color blanco para mayor contraste */
}


